/* ===== FONTE ===== */
.shippori-mincho-regular {
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.shippori-mincho-medium {
  font-family: "Shippori Mincho", serif;
  font-weight: 500;
  font-style: normal;
}

.shippori-mincho-semibold {
  font-family: "Shippori Mincho", serif;
  font-weight: 600;
  font-style: normal;
}

.shippori-mincho-bold {
  font-family: "Shippori Mincho", serif;
  font-weight: 700;
  font-style: normal;
}

.shippori-mincho-extrabold {
  font-family: "Shippori Mincho", serif;
  font-weight: 800;
  font-style: normal;
}

.html {
  font-family: "Mulish", sans-serif;
}

/* ===== NAVBAR / BOTÕES ===== */
.btn-outline-primary {
  color: #17479E !important;
  border: 2px solid #17479E !important;
}

.btn-outline-primary:hover {
  background-color: #17479E !important;
  color: white !important;
}

.hamburger-btn {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 22px;
}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: #17408B;
  border-radius: 2px;
}

.hamburger-line-center {
  width: 70%;
  height: 3px;
  background-color: #17408B;
  border-radius: 2px;
}

@media (max-width: 991px) {
  .navbar-collapse.show {
    background-color: #003087;
    padding: 1rem;
    border-radius: 8px;
  }

  .navbar-collapse.show .nav-link {
    color: white;
  }
}

/* ===== CONTAINERS / TEXTOS ===== */
.container-petz {
  font-weight: normal;
  color: #757575;
}

h1 {
  color: #555;
  font-family: 'Mulish', sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

p, .card-text, .card-title {
  color: #555;
  font-family: 'Mulish', sans-serif;
}

.petz {
  color: #555;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
}

.duvida {
  font-size: 12px;
  font-family: "Mulish", sans-serif;
  color: white;
  background-color: #17479E;
  border-left: 20px;
  padding: 15px;
}
.container-adocao{
    background-color: #D4D4D4;
    color: #52415D;
    padding: 20px;
}
